<form [formGroup]="form" (ngSubmit)="submit()">

<mat-card class="home">
    <mat-card-header>
      <mat-card-title>
        <h1>
          {{title}}
        </h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="New text input">
          <div class="home__group1">
            <mat-form-field class="example-full-width">
              <textarea 
                formControlName="textToTranslate"
                matInput 
                placeholder="Place Text In Here" 
                matTextareaAutosize
                matAutosizeMinRows="6" 
                matAutosizeMaxRows="10">
              </textarea>
              
            </mat-form-field>
          </div>
        </mat-tab>
        <mat-tab label="Import from existing file">
          <div class="home__group2"> 
            <label for="file"  mat-button class="mat-raised-button" >Import (*.txt)</label>
            <input id="file" accept=".txt" #file (change)="load($event)"  class="home__group2__file"  type="file">
          </div>  
        </mat-tab>
      </mat-tab-group>
      <div layout="flex">
        <div flex="33">
          <mat-form-field >
            <mat-select formControlName="language" placeholder="Language">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{ food.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div flex="66">
          <button type="submit" mat-button class="mat-raised-button" color="primary">Translate</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
  